@charset "UTF-8";

@font-face {
    font-family:'Gobold';
    src: url('GoboldBold.otf') format('opentype');
}

:root {
    --cor01: #57879C;
    --cor02: #33505C;
    --cor03: #7BBEDB;
    --cor04: #82C9E8;
    --cor05: #6DA9C2;
    --cor06: #EDF8FF;
    --cor07: #D8E2E8;
    --cor08: #C0C9CF;
    --cor09: #A8B0B5;
    --cor10: #91979C;
    --corverde: #03A64A;
    --coramarela: #F2BB13;

    --fonte-destaque:'Bebas Neue';
    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #0d3968;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 30px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 15vh;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 20px;
}

header > nav {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 6px;
    padding-left: 6px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
}

header > nav > a {
    background-color: #82C9E8;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    transition-duration: 0.5s;
    margin-right: 10px;
}

header > nav > a:hover {
    background-color: #ffffff;
    color: #82C9E8;
    border-radius: 10 px;
    padding-right: 20px;
    padding-left: 20px
}

/*-Configuração usada anteriormente, mas sem responsividade.

header {
    background-color: #0d3968;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: white;   
    height: 41.4vh;
    text-align: center;
    box-shadow: 0px 2px 11px #33505c81
}

header > div > h1 {
    display: block;
    padding-top: 40px;
    font-family: 'Bebas Neue';
    font-size: 10vh;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.041);
}

header > div > img {
    margin: auto;
    width: 40vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

header > div > p {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 2.8vh;
    font-weight: bold;
}

header > nav {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    width: 80vh;
    padding-left: 6px;
    text-align: left;
    
}

header > nav > a {
    background-color: #82C9E8;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    transition-duration: 0.5s;
    margin-right: 10px;
}

header > nav > a:hover {
    background-color: #ffffff;
    color: #82C9E8;
    border-radius: 10 px;
    padding: 15px; 
} */


body {
    min-height: 100vh;
    background-color: #D8E2E8;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #ffffff;
    box-shadow: 0px 0px 6px #33505c81;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 1px;
}

footer {
    background-color: #234161;
    text-decoration-style: bold;
    height: 60px;
    color: white;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px -2px 11px #33505c81
}

footer > p {
    padding-top: 20px;
    font-weight: bold;
}

aside#história {
    text-align: justify;
    min-width: none;
    font-size: 1.3em;
    margin-left: 10px;
    margin-top: 9px;
    margin-right: 10px;
}

aside#história > h1 {
    background-image: linear-gradient(to right, #82C9E8, white);
    border-radius: 10px;
    font-family: 'Bebas Neue';
    padding: 3px;
    padding-left: 10px;
    font-size: 1.5em;
    color: #234161;
}

aside#história > p {
    padding-top: 3px;
    text-indent: 60px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

aside#fotoayrton {
    text-align: justify;
    min-width: none;
    font-size: 1.3em;
    float: right;
}

img.ayrton1 {
    display: block;
    width: 290px;
    height: 330px;
    margin: 0px;
    padding: 10px;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

article#h2 {
    margin-top: 30px;
    text-align: justify;
    padding-left: 10px;
}

aside#texto2 > h2 {
    background-image: linear-gradient(to right, #82C9E8, white);
    border-radius: 10px;
    font-family: 'Bebas Neue';
    padding: 3px;
    padding-left: 10px;
    font-size: 1.5em;
    color: #234161;
}

aside#texto2 > p {
    padding-top: 3px;
    padding-right: 10px;
    text-indent: 60px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 3px;
}

aside#texto2 {
    padding: 3px;
}

img.kart {
    display: block;
    max-width: 102.5%;
    min-width: 100.3%;
    margin: auto;
    padding: 0px;
    margin-left: -11px;
    margin-right: 0px;
}

article > aside > p#ayrton1981 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: right;
}

article#h2 {
    margin-top: 30px;
    text-align: justify;
    padding-left: 10px;
}

aside#texto3 > h2 {
    background-image: linear-gradient(to right, #82C9E8, white);
    border-radius: 10px;
    font-family: 'Bebas Neue';
    padding: 3px;
    padding-left: 10px;
    font-size: 1.5em;
    color: #234161;
}

aside#texto3 > p {
    padding-top: 3px;
    padding-right: 10px;
    text-indent: 60px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 3px;
}

aside#texto3 {
    padding: 3px;
    padding-top: 30px;
}

aside#texto4 {
    padding: 3px;
    padding-top: 30px;
}

aside#texto4 > h2 {
    background-image: linear-gradient(to right, #82C9E8, white);
    border-radius: 10px;
    font-family: 'Bebas Neue';
    padding: 3px;
    padding-left: 10px;
    font-size: 1.5em;
    color: #234161;
}

aside#texto4 > p {
    padding-top: 3px;
    padding-right: 10px;
    text-indent: 60px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 3px; 
}

h3 {
    font-family: 'Bebas Neue';
    padding: 10px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 0px;
}

aside#texto5 {
    padding: 3px;
    padding-top: 30px;
}

aside#texto5 > h2 {
    background-image: linear-gradient(to right, #82C9E8, white);
    border-radius: 10px;
    font-family: 'Bebas Neue';
    padding: 3px;
    padding-left: 10px;
    font-size: 1.5em;
    color: #234161;
}

aside#texto5 > p {
    padding-top: 3px;
    padding-right: 10px;
    text-indent: 60px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 3px;
    }

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}