@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #bd8d0a;
    --Anton: 'Anton', sans-serif;
    --Bebas-Neue: 'Bebas Neue', Arial, Helvetica;
    --Inter: 'Inter', sans-serif;
}

body {
    height: 100vh;
}

header {
    background-color: #0e0e0e;
    padding-top: 10vh;
    padding-bottom: 3.5vh;
    text-align: center;
    min-height: 27vh;
}

header > h1 {
    color: #bd8d0a;
    font-family: var(--Bebas-Neue);
    font-variant: inherit;
    font-size: 12vh;
}

header > p {
    color: #ffffff;
    font-family: var(--Bebas-Neue);
    font-size: 3.5vh;
}

header > nav {
    margin-top: 15vh;
    padding-left: 1.5vh;
    text-align: left;
    font-family: var(--Bebas-Neue);
    font-size: 2.5vh;
}

header > nav a {
    margin-right: 1vh;
    padding: 0.1vh;
    text-decoration: none;
    color: #bd8d0a;
}

header > nav > a:hover{
    transition-duration: 0.5s;
    border: none;
    background-color: #bd8d0a;
    border-radius: 20vh;
    padding: 1vh;
    font-size: 2.5vh;
    text-decoration: none;
    color: #ffffff;
}

section.inicial {
    background-image: url(../imagens/Sem-Título-1.png);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #858585;
    width: 100%;
    height: 82vh;
}

aside.texto > p{
    display: block;
    float: left;
    width: 80vh;
    padding-left: 20vh;
    padding-top: 16vh;
    font-size: 4vh;
    text-align: justify;
    font-family: var(--Inter);
    font-weight: 900;
}

section.inicial > aside.foto > picture {
    display: block;
    float: right;
    padding-right: 25vh;
    padding-top: 0.5vh;
}

section.texto2 {
    height: 82vh;
    background-image: url(../imagens/bgtexto2.png);
    background-size: cover;
    background-attachment: fixed;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0e0e0e;
    color: white;
    text-align: center;
    font-family: var(--Inter)
}

footer > p > a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
}